@inherits LayoutComponentBase

<header class="gh-header">
    <a href="/" class="logo">OpenAPI Guard</a>
    <nav>
        <a href="/">Projects</a>
    </nav>
</header>

<div class="gh-container">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
